<section>
    <footer class="bg-dark  text-white">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <h6>About</h6>
                        <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">

                        <p class="text-muted">
                            <a class="header-logo" href="https://www.aiimsrbl.edu.in/">
                                <img class="h-100 footer-logo" src="https://old.aiimsrbl.edu.in/assets/images/aiims.png" alt="AIIMSRBL logo">
                            </a> All India Institute of Medical Sciences, Raebareli was established as autonomous institution and institute of National importance through the All India Institute of Medical Sciences (Amendment) Act, passed in 2013...
                            <a
                                href="https://www.aiimsrbl.edu.in/history">Read More</a>
                        </p>

                    </div>
                    <div class="col-lg-2 col-md-12">
                        <h6>Other AIIMS Links</h6>
                        <ul class="list-unstyled mb-0">

                            <li><a href="javascript:void(0);">AIIMS Delhi</a></li>
                            <li><a href="javascript:void(0);">AIIMS Bhubaneswar</a></li>
                            <li><a href="javascript:void(0);">AIIMS Jodhpur</a></li>
                            <li><a href="javascript:void(0);">AIIMS Patna</a></li>
                            <li><a href="javascript:void(0);">AIIMS Raipur</a></li>
                            <li><a href="javascript:void(0);">AIIMS Bhopal</a></li>
                            <li><a href="javascript:void(0);">AIIMS Rishikesh</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <h6>Other Info</h6>
                        <ul class="list-unstyled mb-0">






                            <li><a href="javascript:void(0);">PMSSY</a></li>
                            <li><a href="javascript:void(0);">MOHFW</a></li>
                            <li><a href="javascript:void(0);">PGIMER Chandigarh</a></li>
                            <li><a href="javascript:void(0);">Current Tender</a></li>
                            <li><a href="javascript:void(0);">AIIMS Acts</a></li>
                            <li><a href="javascript:void(0);">Feedback</a></li>
                            <li><a href="https://aiimsrbl.edu.in/contacts">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <h6>Quick Links</h6>
                        <ul class="list-unstyled mb-0">
                            <li><a href="http://recruitment.aiimsrbl.edu.in">Recruitments</a></li>
                            <li><a href="javascript:void(0);">How To Apply</a></li>
                            <li><a href="javascript:void(0);">News & Circulars</a></li>
                            <li><a href="javascript:void(0);">Support</a></li>
                            <li><a href="javascript:void(0);">FAQ</a></li>
                            <li><a href="javascript:void(0);">Terms of Service</a></li>
                            <li><a href="https://aiimsrbl.edu.in/contacts">Contact Details</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <h6 class="mb-2">Helpline & Support</h6>
                        <p>Phone no: <b>+91 0535-2700020</b><br/>Email us: <b>itsection@aiimsrbl.edu.in</b></p>
                        <h6 class="mb-2">Subscribe</h6>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email">
                            <div class="">
                                <button type="button" class="btn btn-primary">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                        <h6 class="mb-2 mt-5">Payments</h6>
                        <ul class="payments mb-0">
                            <li>
                                <a href="javascript:;" class="payments-icon"><i class="fa fa-cc-amex" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="payments-icon"><i class="fa fa-cc-visa" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="payments-icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="payments-icon"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="payments-icon"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="text-white p-0 border-top">
            <div class="container">
                <div class="p-2 text-center footer-links">
                    <a href="javascript:void(0);" class="btn btn-link">About Us</a>
                    <a href="javascript:void(0);" class="btn btn-link">How It Works</a>
                    <a href="javascript:void(0);" class="btn btn-link">Recruitments</a>

                    <a href="javascript:void(0);" class="btn btn-link">Privacy Policy</a>
                    <a href="javascript:void(0);" class="btn btn-link">Terms Of Conditions</a>
                    <a href="javascript:void(0);" class="btn btn-link">News & Circulars</a>
                    <a href="javascript:void(0);" class="btn btn-link">Contact Us</a>

                </div>
            </div>
        </div>
        <div class="text-white-50 p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12  mt-2 mb-2 text-center ">
                        Copyright © 2022 <a href="https://www.aiimsrbl.edu.in/" class="fs-14 text-white">AIIMS Raebareli</a>. All Right Reserved. <br/> Designed & Developed By <a target="_blank" href="https://www.expertcodelab.com" class="fs-14 text-white">Department of IT.</a>
                    </div>
                    <div class="col-lg-12 col-sm-12 text-center mb-2 mt-2">
                        <ul class="social-icons mb-0">
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-rss"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-youtube"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</section>