<div class="col-xl-3 col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">My Dashboard</h3>
        </div>
        
        <div class="item1-links  mb-0">
            <a id="myProfile" href="/profile" class="d-flex border-bottom">
                <span class="icon1 me-2"><i class="typcn typcn-edit fs-20"></i></span> My Profile
            </a>
            <a id="appliedJobs" href="/my-jobs" class="d-flex border-bottom">
                <span class="icon1 me-2"><i class="typcn typcn-briefcase fs-20"></i></span> Applied Jobs
            </a>
            <a href="/logout" class="d-flex">
                <span class="icon1 me-2"><i class="typcn typcn-power-outline fs-20"></i></span> Logout
            </a>
        </div>
    </div>
</div>